# Disable directory browsing
Options -Indexes

# Prevent direct access to certain files
<FilesMatch "(\.(env|htaccess)|composer\.(json|lock)|README\.md|package\.json|\.gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Redirect all requests to the front controller
RewriteEngine On
RewriteBase /

# Redirect to HTTPS if not already
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect everything to the 'public' folder
RewriteRule ^(.*)$ public/$1 [L]